<div class="modal fade" id="recruiterRegisterModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Recruiter Register</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="txtRecruiterUserName" class="col-sm-5 control-label">
                                    Account Name (*)
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txtRecruiterUserName" required />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="txtRecruiterPassword" class="col-sm-5 control-label">
                                    Password (*)
                                </label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="txtRecruiterPassword" required />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="txtRecruiterConfirmPassword" class="col-sm-4 control-label">
                                    Confirm Pass (*)
                                </label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="txtRecruiterConfirmPassword" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-sm-5 control-label">
                                    Company Name (*)
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txtCompanyName" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="txtRecruiterEmail" class="col-sm-5 control-label">
                                    Email (*)
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txtRecruiterEmail" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="txtRecruiterPhone" class="col-sm-5 control-label">
                                    Phone
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txtRecruiterPhone" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="txtLocation" class="col-sm-5 control-label">
                                    Company Type
                                </label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="ddlType" />
                                    <option>Product</option>
                                    <option>Outsourcing</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="txtAddress" class="col-sm-5 control-label">
                                    Company Size (*)
                                </label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="ddlSize" />
                                    <option>Start up 1-10</option>
                                    <option>Small 11-50</option>
                                    <option>Medium 51-150</option>
                                    <option>Huge 150+</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="txtLocation" class="col-sm-5 control-label">
                                    Location
                                </label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="ddlLocation" />
                                    <option>Hồ Chí Minh</option>
                                    <option>Đà Nẵng</option>
                                    <option>Hà Nội</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="txtAddress" class="col-sm-5 control-label">
                                    Address (*)
                                </label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="txtAddress" />
                                    <br>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" id="btnSubmit" onclick="registerRecruiter()" class="btn btn-info">Register</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function registerRecruiter() {
        console.log($("#txtRecruiterUserName").val());
        var txtUserName = $('#txtRecruiterUserName').val();
        var txtPassword = $('#txtRecruiterPassword').val();
        var txtConfirmPassword = $("#txtRecruiterConfirmPassword").val();
        var txtCompanyName = $("#txtCompanyName").val();
        var txtEmail = $("#txtRecruiterEmail").val();
        var txtPhone = $("#txtRecruiterPhone").val();
        var ddlLocation = $("#ddlLocation :selected").val();
        var txtAddress = $("#txtAddress").val();
        var ddlType = $("#ddlType :selected").val();
        var ddlSize = $("#ddlSize :selected").val();

        var recruiter = {
            UserName: txtUserName, CompanyName: txtCompanyName, CompanySize: ddlSize,
            Password: txtPassword, ConfirmPassword: txtConfirmPassword, Email: txtEmail,
            Phone: txtPhone, Location: ddlLocation, Address: txtAddress, CompanyType: ddlType
        }
        console.log(recruiter);
        $.ajax({
            type: "POST",
            url: '@Url.Action("RecruiterRegister", "Account")',
            data: JSON.stringify({ recruiterForm: recruiter }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });

        function successFunc(data) {
            console.log(data);
            if (data.Status == 0)
            {
                // TODO
                $('#recruiterRegisterModal').modal('hide');
            }
            
        }

        function errorFunc(data) {
            alert(data);
            alert('error');
        }
    }
</script>
